<!doctype html>
<html lang="en">
  <head>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"/> -->
    <meta charset="UTF-8"/>
    <title>
      <${data.title}/>
    </title>
    <!-- <link> tags to include optimized CSS URLs will be included below: -->
    <${data.styles}/>
  </head>
  <body>
    <div class="container">
      <div class="cHeader">
        <sample-header title="Online Tools - Json"/>
      </div>
      <div class="cBody">
        <${data.body}/>
      </div>
      <div class="cFooter">
        <sample-footer/>
      </div>
    </div>
    <!-- <script> tags to include optimized JS URLs will be included below: -->
    <${data.scripts}/>
  </body>
</html>
